@import "bootstrap/dist/css/bootstrap.css";

#about-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    z-index: -1;
    display: block;
    background-image: url("/src/assets/background-images/about_background.jpg");
    background-color: #cccccc;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headshot-1 {
    margin: 5px;
    height: auto;
    width: 80%;
    border: 5px solid #dce9e4;
    border-radius: 8px;
    z-index: 9999;
}

.headshot-2 {
    margin: 5px;
    height: auto;
    width: 100%;
    border: 5px solid #dce9e4;
    border-radius: 8px;
}

.about-me {
    position: relative;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #bac8c3;
    border: 5px solid #dce9e4;
    border-radius: 8px;
}

.about-me-title {
    font-size: 320%;
}

.cat-card {
    position: relative;
    background-color: #bac8c3;
    border: 5px solid #dce9e4;
    border-radius: 8px;
    margin: 20px;
    margin-bottom: 60px;
}

.cat-img {
    width: 100%;
    overflow: hidden;
}

.modular-card {
    position: relative;
    background-color: #bac8c3;
    border: 5px solid #dce9e4;
    border-radius: 8px;
    margin: 20px;
    margin-bottom: 60px;
}

.card-body {
    background-color: #bac8c3;
}

.custom-row {
    display: flex;
    justify-content: center;
}

.resume {
    position: relative;
    background-color: #bac8c3;
    border: 5px solid #dce9e4;
    border-radius: 8px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.resume-link {
    color:#1c443d;
}

.resume-link:hover {
    color:#0c241f;
}