

#projects-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    z-index: -1;
    display: block;
    background-image: url("/src/background-images/projects_background.jpg");
    background-color: #cccccc;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-image {
    border-radius: 8px;
    border: 5px solid #dce9e4;
    width: 250px;
    height: 200px;
}
.project-ul {
    width: 50%;
    margin: auto;
}

.project-li {
    display: inline;
    width: 50%;
}

.project-image:hover {
    cursor: pointer;
}

.project-title:hover {
    cursor: pointer;
}


h1 {
    color:#9ec3bd; 
}

.project-content {
    color: black;
    background-color: #bac8c3;
    border: 5px solid #dce9e4;
    border-radius: 8px;
    margin: 10px;
    padding-bottom: 40px;
    margin-bottom: 5px;
}

.project-github {
    position: relative;
    right: 10px;
    bottom: 40px;
    color:#1c443d;
}
.project-github:hover {
    color:#0c241f;
}

.project-link {
    position: relative;
    left: 10px;
    bottom: 40px;
    color:#1c443d;
}

.project-link:hover {
    color:#0c241f;
}

.bottom-space {
    margin: 100px;
}

.project-page-title {
    font-size: 500%;
    color:#5cab8e;
}

@media only screen and (max-width: 768px) {
    .project-image {
        text-align: center;
        display:block;
        margin:0 auto;
        width: 200px;
        height: 150px;
        
    }
    .project-ul {
        width: 80%;
        margin: 0 auto;
    }
}
