@import "bootstrap/dist/css/bootstrap.css";

* {
  font-family: 'Noto Sans JP', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron-custom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #bac8c3;
  border: 5px solid #dce9e4;
}

.jumbotron-text {
  color: #235543
}

.social {
  left: 45%;
  justify-content: center;
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.social-link {
  color: #bac8c3;
  margin: 3px;
  font-size: 110%;
  text-align: center;
  display: inline-block;
  vertical-align:middle;
}

.social-link:hover {
  color: #8fa99f;
}

@media only screen and (max-width: 768px) {
  .social {
    left: 32%;
  }
}